{%extends 'pm\base_pm.html'%} {% load static %} {% block content %}

<style>
    .dropdown-item:hover {
        color: #f4f4f8;
    }
    
    td,
    th {
        text-align: center;
    }
    
</style>


<div class="row">
    
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project Team</h4>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <form>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control text-white" id="myInput" onkeyup="myFunction()" placeholder="Search . . ." style="border: green" />
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th class="text-white" style="padding-left:20px;">SNo</th>
                                <th class="text-white"> Name </th>
                                <th class="text-white"> Employee ID </th>
                                <th class="text-white"> Mail </th>
                                <th class="text-white"> Contact </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Leya</td>
                                <td>800</td>
                                <td>leya@gmail.com</td>
                                <td>55555555555</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kripa</td>
                                <td>600</td>
                                <td>kripa@gmail.com</td>
                                <td>5555666666</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
</div>



<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
    {% endblock %}
