{%extends 'pm\base_pm.html'%}
{%load static%}
{%block content%}
<style>
    *{
      color:#6C7293;
    }
    tr[data-href]{
        cursor:pointer;
    }
</style>

<div class="row " >
    <!-- <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">Team Leaders</div></div> -->
<div class="container">
  <div class="row mt-3">
    <div class="card">
      <div class="pl-2 pr-2 pt-3 pb-3 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-light" style="font-size:18px;font-weight: 400;">Developers List</div>
          <div class="mt-3"><input type="text" class="form-control text-light" id="myInput" onkeyup="myFunction()" placeholder="Search for names" ></div>
        <br>
          <div class="table-responsive">
            <table class="table" id="myTable">
                <thead>
                    <tr data-href="#">
                        <th class="text-white" style="padding-left:20px;">SNo</th>
                        <th class="text-white" >Developer Name</th>
                        <th class="text-white" >Joining Date</th>
                        <th class="text-white" >Email</th>
                        <th class="text-white" >Designation</th>
                        <th class="text-white" >Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-href="pm_emp_developers_dashboard">
                        <td>1</td>
                        <td><img src="{% static '/assets/images/faces/face5.jpg' %}" class="rounded-circle " width="50" height="50" >
                            <span style="margin-left: 10px;">anandhu s</span></td>
                            <td >01/02/2020</td>
                            <td>anandhu@gmail.com</td>
                            <td>Team Leader</td>
                            <td>Software</td>
                    </tr>
                    <tr data-href="pm_emp_developers_dashboard">
                        <td>2</td>
                        <td><img src="{% static '/assets/images/faces/face15.jpg' %}" class="rounded-circle " width="50" height="50" >
                            <span style="margin-left: 10px;">anandhu ss</span></td>
                        <td >01/02/2020</td>
                        <td>anandhusss@gmail.com</td>
                        <td>Team Leader</td>
                        <td>Software</td>
                    </tr>
                
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>

</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function () {
    $('table tr').click(function () {
        window.location = $(this).data('href');
        return false;
    });
});
</script>
{% endblock %}